/* Content.css */
.content {
  flex: 1; /* El contenido ocupará todo el espacio disponible */
  background-color: #cec5c58e;
  padding: 370px;
  width: 970px;
  margin-top: 5px; /* Asegurar que el content no sobrepase el NavBar */
  margin-left: 0px; /* Asegurar que el content no sobrepase el Aside */
}

/* Media query para ajustar el diseño en pantallas más pequeñas */
@media (max-width: 768px) {
  .content {
    margin-left: 0; /* Ajustar el margen izquierdo en pantallas más pequeñas */
    width: 100%; /* El content ocupará todo el ancho disponible en pantallas más pequeñas */
    margin-top: 70px; /* Ajustar margen superior en pantallas más pequeñas */
  }
}
