/* Section.css */
.section {
    background-color: #000; /* Color de fondo negro */
    color: #c91e1e; /* Color del texto blanco */
    padding: 20px; /* Espaciado interno */
    box-sizing: border-box; /* Incluir el padding en el ancho y alto */
    width: calc(100% - 200px); /* Ancho del section, restando el ancho del aside */
    height: calc(100% - 70px); /* Altura del section, restando la altura del NavBar */
    margin-top: 0px; /* Asegurar que el section no sobrepase el NavBar */
    margin-left: 200px; /* Asegurar que el section no sobrepase el Aside */
  }
  
  /* Media query para ajustar el diseño en pantallas más pequeñas */
  @media (max-width: 768px) {
    .section {
      margin-left: 0; /* Ajustar el margen izquierdo en pantallas más pequeñas */
      width: 100%; /* El section ocupará todo el ancho disponible en pantallas más pequeñas */
      height: auto; /* Permitir que la altura del section se ajuste automáticamente en pantallas más pequeñas */
      margin-top: 70px; /* Ajustar margen superior en pantallas más pequeñas */
    }
  }
  