.Title {
  display: flex;
  justify-content: space-between; /* Para separar los elementos */
  align-items: center; /* Para alinear el h2 en la parte superior */
  width: 100%;
  height: 60px;
}

.Title h2 {
  margin: 0; /* Para quitar los márgenes predeterminados */
}

.Title button {
  width: fit-content;
  height: fit-content;
  padding: 2px 5px;
  border-radius: 10px;
  border: 1px solid black;
  background-color: bisque;
}

